# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# Sensitive
.env

# Runtime output
temp/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

/.omo
/.opencode
/dist*
/flet_client/
/flet_tmp_*

